body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Corbel Light;
    font-size: 15.5pt;
}

header{
    background-color:rgb(0,122,194);
    height: 95px;
    width: 1519px;
    position:fixed;
    right: 0px;
    top: 0px;
}

.logo{
    position:absolute;
    right:0;
    top:0;
    height: 80px;
}

.podpisphoto{
    font-style: italic;
    font-size: 12pt;
}

.imgtitle{
    background-image: linear-gradient(to right,rgba(1, 104, 164, 0.638), rgba(152, 199, 227, 0)), url(https://yamburg-dobycha.gazprom.ru/d/story/6a/106/3-ukpg-1v.jpg);
    background-color:rgb(0,122,194);
    top: 0px;
    right:0px;
    left: 0px;
    position: absolute;
    margin-top: 0px;
    overflow: hide;
    z-index: -1;
    height: 475px;
}

.okomp{
    font-family: Yu Gothic UI Light;
    color:rgb(255, 255, 255);
    font-weight: lighter;
    position: relative;
    margin-top: 200px;
    margin-left: 175px;
    font-size: 45pt;
}

.block{
    height: 150px;
    width: 900px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 10px;
    font-style:italic;
    font-weight: bolder;
}

.menu{
    font-size: 13pt;
    color:rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.mainpage1{
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.526);
    border-radius: 30px;
    height: 20px;
    width: 110px;
    text-align: center;
}

.menu:hover{
    color: red;
}

a.link:active,
a.link:hover,
a.link {
  text-decoration: none;
  color: inherit;
}